* {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 48, 33);
    overflow: hidden;
}

.doc1 {
    top: 20em;
    left: 70em;
}

.doc2 {
    top: 15em;
    left: 50em;
}

img {
    position: absolute;
    background: none;
}

.lampe {
    top: 4em;
    left: -7em;
}

.lampeBox {
    width: 57.5em;
    height: 70em;
    margin-left: -20em;
    margin-top: -10em;
}

.light {
    mix-blend-mode: plus-lighter;
    position: absolute;
    top: -20em;
    left: -5em;
    width: 120em;
    pointer-events: none;
}


/* --- TEST --- */

.bglight {
    background-repeat: no-repeat;
    width: 150em;
    height: 150em;
    background-image: url(./assets/Light2.svg);
}

.bglampe {
    background-repeat: no-repeat;
    width: 100em;
    height: 100em;
    background-image: url(./assets/Lampe.svg);
}