* {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 48, 33);
    overflow: hidden;
}

/* DOC 1 */

.doc1 {
    width: 25%;
    transform: rotate(10deg);
    top: 20em;
    left: 70em;
    cursor: grab;
    transition: 0.15s;    
}

.doc1.drag-Start {
    width: 27%;
    top: 20em;
    left: 70em;
    cursor: grabbing;
    transition: 0.15s;
}

.doc1.drag-End {
    width: 25%;
    transform: rotate(10deg);
    top: 20em;
    left: 70em;
    cursor: grab;
    transition: 0.15s;   
}

/* FIN DOC 1 */

/* DOC 2 */

.doc2 {
    width: 25%;
    transform: rotate(-5deg);
    top: 15em;
    left: 50em;
    cursor: grab;
    transition: 0.15s;   
}

.doc2.drag-Start {
    width: 27%;
    top: 15em;
    left: 50em;
    cursor: grabbing;
    transition: 0.15s;   
}

.doc2.drag-End {
    width: 25%;
    transform: rotate(-5deg);
    top: 15em;
    left: 50em;
    cursor: grab;
    transition: 0.15s;
}

/* FIN DOC 2 */

/* PHOTO */

.photo{
    width: 10%;
    transform: rotate(5deg);
    top: 40em;
    left: 105em;
    cursor: grab;
    transition: 0.15s;
}


.photo.drag-Star{
    width: 15%;
    transform: rotate(5deg);
    top: 40em;
    left: 105em;
    cursor: grabbing;
    transition: 0.15s;
}

.photo.drag-End{
    width: 10%;
    transform: rotate(5deg);
    top: 40em;
    left: 105em;
    cursor: grab;
    transition: 0.15s;
}

.photoAbout{
    width: 10%;
    transform: rotate(5deg);
    top: 40em;
    left: 80em;
}

img {
    position: absolute;
    background: none;
}

.lampe {
    top: 4em;
    left: -7em;
}

.lampeBox {
    width: 57.5em;
    height: 70em;
    margin-left: -20em;
    margin-top: -10em;
}

.light {
    mix-blend-mode: plus-lighter;
    position: absolute;
    top: -20em;
    left: -5em;
    width: 120em;
    pointer-events: none;
}

.cup{width: 16%;
    top: 4em;
    left: 100em;
}

.paper{
    transform: rotate(-6deg);
    width: 25%;
    top: 10em;
    left: 50em;
}
